[submodule "themes/hugo-nederburg-theme"]
	path = themes/hugo-nederburg-theme
	url = git@github.com:appernetic/hugo-nederburg-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
